* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: rgb(216, 175, 253);
}
header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  background-color: rgb(179, 105, 248);
}

header img {
  height: 130%;
  width: 100px;
}

.nav-links {
  display: flex;
  gap: 20px;
}
.nav-links a {
  text-decoration: none;
  font-size: 18px;
  color: black;
}
.drawer {
  position: fixed;
  top: 72px;
  right: -300px; /* hidden outside screen */
  width: 250px;
  height: calc(100vh - 70px);
  background: white;
  box-shadow: 2px 0 10px rgba(0,0,0,0.2);
  padding: 20px;
  transition: right 0.3s ease;
  z-index: 1500;
  background-color: rgb(201, 161, 238);
}

.drawer.active {
  right: 0; /* visible slidein */
}
 /* drawer items  */
.drawer ul {
  list-style: none;
  padding: 0;
}

.drawer ul li {
  margin: 20px 0;
}

.drawer ul li a {
  text-decoration: none;
  font-size: 18px;
  color: black;
}

.overlay {
  position: fixed;
  top: 70px;
  left: 0;
  height: calc(100vh - 70px);
  width: 100%;
  background: rgba(0,0,0,0.4);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 1400;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

.bar {
  display: flex;
  align-items: center;
  gap: 20px;
}
.bar form input {
  padding: 5px 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: rgb(210, 165, 252);
}

.bar form input:focus {
  outline: none;
  box-shadow: 0 0 5px rgb(77, 3, 126);    
}
.cart {
  position: relative;
  font-size: 34px;
  cursor: pointer;
  width: fit-content;
}

.badge {
  position: absolute;
  top: -6px;
  right: -8px;

  background: rgb(2, 17, 58);
  color: white;
  font-size: 12px;
  font-weight: bold;

  padding: 2px 6px;
  border-radius: 50%;
}

.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
  .hamburger {
    display: block;
  }
}

.cta {
  padding: 50px 20px;
  background-image: url("https://imgs.search.brave.com/cCqoBlX2dovmvnQM1wm415sytaBJZ5DLYp00HQxlFOo/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9wbHVz/LnVuc3BsYXNoLmNv/bS9wcmVtaXVtX3Bo/b3RvLTE2ODM4ODcw/NjQyNTUtMWM0Mjhk/MGIzOTM0P2ZtPWpw/ZyZxPTYwJnc9MzAw/MCZpeGxpYj1yYi00/LjEuMCZpeGlkPU0z/d3hNakEzZkRCOE1I/eHpaV0Z5WTJoOE9Y/eDhiMjVzYVc1bEpU/SXdjMmh2Y0hCcGJt/ZDhaVzU4TUh4OE1I/eDhmREE9");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  height: 300px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-shadow: 5px 5px 7px rgba(0,0,0,0.7);
}

.cta h1 {
  font-size: 40px;
  font-weight: bold;
}
.cta p {
  font-size: 24px;
  font-weight: bold;
}
